 <!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/header') %>
    </head>
    <body class="sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Navbar superior -->
            <%- include('partials/navbar') %>

            <!-- Sidebar izquierdo -->
            <%- include('partials/sidebar') %>

            <!-- Contenido principal -->
            <div class="content-wrapper">
                <%- include('partials/messages') %>
                <%- body %>
            </div>

            <!-- Footer -->
            <%- include('partials/footer') %>
        </div>

        <!-- Scripts de AdminLTE -->
        <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
        <script
            src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/adminlte/dist/js/adminlte.min.js"></script>
    </body>
</html>
